@font-face {
    font-family: Orbitron; /* Гарнитура шрифта */
    src: url(Orbitron.ttf); /* Путь к файлу со шрифтом */
   }    

body{
    background: black;
}
 
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}